{% extends 'users.html' %}

{% block content %}
    <h1>Boards</h1>
    {% if boards %}
        <table>
            <thead>
                <td>Board name</td>
                <td>Created</td>
                <td>Id of creator</td>
                <td>Open</td>
            </thead>
            <tbody>
                {% for board in boards %}
                    <tr>
                        <td>{{ board["name"] }}</td>
                        <td>{{ board["date_of_creation"] }}</td>
                        <td>{{ board["creator_id"] }}</td>
                        <td><a href="boards/{{ board["id"] }}">open</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <hr/>
    <section>
      <h3>Create new Dashboard</h3>
      <form method="post" action="/boards">
        <label for="title">Name</label>
        <input name="name"
               type="text"
               maxlength="100"
               id="name"
               placeholder="Name of the new dashboard"
               required>
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <input type="submit" value="Create">
      </form>
    </section>
{% endblock %}