<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task tracker</title>
</head>
<body>
    <h1>Hi there!</h1>
    <nav>
      <ul>
        {% if request.cookies.get('email') %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% endif %}
        {% if not request.cookies.get('email') %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      {% block content %}{% endblock %}
    </section>
</body>
<style>
    table, th, td {
        border: black 1px solid;
    }
    table {
        border-radius: 3px;
    }
</style>
</html>