{% extends 'users.html' %}

{% block content %}
    <h1>Tickets</h1>
    {% if tickets %}
        <table>
            <thead>
                <td>title</td>
                <td>assignee</td>
                <td>status</td>
                <td>open details</td>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket["title"] }}</td>
                        <td>{{ ticket["assignee"] }}</td>
                        <td>{{ ticket["status"] }}</td>
                        <td><a href="{{ url_for('ticket', board_id=board_id, ticket_id=ticket["id"]) }}">open</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <hr/>
    <section>
      <h3>Create new ticket</h3>
      <form method="post" action="/boards/{{ board_id }}/tickets">
        <label for="title">Title</label>
        <input name="title"
               type="text"
               maxlength="300"
               id="title"
               placeholder="Title of new ticket"
               required>
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <input type="submit" value="Create">
      </form>
    </section>
{% endblock %}