{% extends 'users.html' %}

{% block content %}
    <h1>Ticket</h1>
    <table>
        <thead>
            <td>title</td>
            <td>description</td>
            <td>created</td>
            <td>creator id</td>
            <td>assignee</td>
            <td>status</td>
        </thead>
        <tbody>
            <tr>
                <td>{{ ticket["title"] }}</td>
                <td>{{ ticket["description"] }}</td>
                <td>{{ ticket["date_of_creation"] }}</td>
                <td>{{ ticket["creator_id"] }}</td>
                <td>{{ ticket["assignee"] }}</td>
                <td>{{ ticket["status"] }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}